#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* 
#navbar {
  flex-grow: 0;
} */

/* #content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden; */
/* } */

/* #sidebar {
  direction: rtl;
  flex-grow: 0;
  flex-basis: 20%;
  overflow-x: hidden;
  overflow-y: scroll;
 } */

/* #sidebar>* {
  direction: ltr;
} */

#chatroom {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
