body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  height: 100%;
}

.ui.segment {
  margin-bottom: 0;
}

@media (max-width: 800px) {
  .ui.container {
    margin-left: 0!important;
    margin-right: 0!important;
  }

  .ui.segment.pushable {
    /* width: 0!important; */
    position: absolute!important;
    height: calc(100vh - 40px);
    z-index: 1;
  }

  .ui.label.floating {
    top: 40%;
    right: 22%;
    left: auto;
  }
}

#root {
  height: 100%;
}

.ui.segment {
  margin-bottom: 0;
}

@media not all and (min-resolution: 0.001dpcm) {
  @media {
    .pushable {
      height: initial !important;
    }
  }
}

@media (max-width: 800px) {
  @media not all and (min-resolution: 0.001dpcm) {
    @media {
      .pushable {
        height: calc(100vh - 40px) !important;
      }
    }
  }

  .ui.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .ui.segment.pushable {
    /* width: 0!important; */
    position: absolute !important;
    height: calc(100vh - 40px);
    z-index: 1;
  }

  .ui.label.floating {
    top: 40%;
    right: 22%;
    left: auto;
  }
}
